.date-selector-block {
  margin-top: 80px;
  margin-bottom: 10px;
}

.get-rates-button {
  margin-top: 10px;
}

.data-display {
  margin-top: 20px;
}

.data-display .container {
  height: 400px;
  margin: 0 auto;
}

#openexform .form-group {
  margin-bottom: 0px;
}

#currency-tabs-history-chart {
  height: 400px;
  margin: 0 auto;
}