

/* page: tools
**--------------------------------------------- */
.thumbs-small .media .pull-left img { max-width: 100%; height: auto; border-radius: 10px; }
.thumbs-small .media .pull-left { width: 65px; margin-right: 18px; }